
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>注文確認画面 - ラクラクピザ</title>
<link th:href="@{/css/bootstrap.css}" href="css/bootstrap.css" rel="stylesheet">
<link th:href="@{/css/piza.css}" href="css/piza.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- 現在の日付と時間から、配達可能時間の制御 -->
<script>
var now = new Date();
var nowDate = now.getDate();
var nowHours = now.getHours();
	

window.onload=function(){
	$('#inputDate').trigger('change');
	$('#inputZipcode').trigger('change');
	if(nowHours >= 16){
		alert('ただ今の時間、本日中にお届けできません');		
	};
	
};


$(function(){
	$('#inputDate').change(function(){
		var selectDateInformation = $('#inputDate').val().split('-');
		var selectDate = selectDateInformation[2];
		
		$('.deliveryTime').prop('disabled',true);
		if($('#inputDate').val() != ""){
			$('#time-message1').hide();
			
			if(nowDate == selectDate){
				$('#time-message2').show();
				$('.deliveryTime').filter(function(index, element){
					return $(element).val() > (nowHours + 2);
				}).prop('disabled',false);
				
				$('.deliveryTime').filter(function(index, element){
					return $(element).val() == (nowHours + 3);
				}).prop('checked',true);
				if(nowHours >= 16){
					alert('ただ今の時間、本日中にお届けできません');		
				};
			}else{
				$('#time-message2').hide();
				$('.deliveryTime').prop('disabled',false);
				
				$('.deliveryTime').filter(function(index, element){
					return $(element).val() == 10;
				}).prop('checked',true);
			};
		}else{
			$('#time-message1').show();			
			$('#time-message2').hide();
			$('.deliveryTime').prop('checked', false);
		};		
	});
});

$(function(){
$("#inputZipcode").change(function(){
	console.log("onchange")
	var zip=$('#inputZipcode').val();
	var prefCode=zip.slice(0,2);
	console.log(prefCode);
	var pref={ "00":1500, "04":1500, "05":1500, "06":1500, "07":1500, "08":1500, "09":1500, //北海道
					 "03":800,   "02":800,   "98":800,   "01":800,   "99":800,   "96":800,   "97":800, //東北
		 			"30":300,   "31":300,   "32":800,   "37":300,   											//北関東
		 			"33":300,   "34":300,   "35":300,   "36":300,   "26":300,   "27":300,   "28":300,   "29":300,   "21":300,   "22":300,   "23":300,   "24":300,   "25":300,  //南関東
		 			"10":0,       "11":0,       "12":0,      "13":0,       "14":0,       "15":0,      "16":0,      "17":0,       "18":0,       "19":0,       "20":0,                                  //東京
		 			"94":500,    "95":500,   "93":500,   "92":500,   "91":500,   "40":500,  "38":500,   "39":500,    "50":500,   "41":500,   "43":500,  "44":500,   "45":500,   "46":500,   "47":500,   "48":500,   "49":500,   //中部、東海
		 			"51":700,    "52":700,   "53":700,   "54":700,   "55":700,   "56":700,  "57":700,   "58":700,    "59":700,   "60":700,   "61":700,  "62":700,   "63":700,   "64":700,   "65":700,   "66":700,   "67":700,  //近畿
		 			"68":800,    "69":800,   "70":800,   "71":800,   "72":800,   "73":800,  "74":800,   "75":800,    //中国
	 				"76":900,    "77":900,   "78":900,   "79":900,                                                             //四国
					"80":1000,  "81":1000, "82":1000, "83":1000,  "84":1000, "85":1000, "86":1000, "87":1000, "88":1000, "89":1000,   //九州
		 			"90":150000   //沖縄
	};
	var cost=pref[prefCode];
	var formatCost = String(cost).replace(/(\d)(?=(\d\d\d)+$)/g, '$1,');
	console.log(cost);
	document.getElementById('cost').innerHTML = formatCost;
	
	
	var price=[[${order.calcTotalPrice}]];
	var totalPrice=price+cost;
	var formatTotalPrice = String(totalPrice).replace(/(\d)(?=(\d\d\d)+$)/g, '$1,');
	document.getElementById('taxInTotalPrice').innerHTML = formatTotalPrice;
	document.getElementById('totalPrice').value = totalPrice ;
	document.getElementById('shippingCost').value = cost;
	
	
})});
</script>
<script th:src="@{/js/order_confirm.js}"></script>

</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="item_list.html" th:href="@{/}"> <!-- 企業ロゴ --> <img
						alt="main log" src="img/header_logo.png" th:src="@{/img/header_logo.png}" height="35">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<p class="navbar-text navbar-left">
						<span sec:authorize="isAuthenticated()">
							ようこそ <span sec:authentication="principal.user.name">山田</span> さん<br>
							<a href="item_list.html" class="navbar-link" th:href="@{/edit}"><small>ユーザ情報の変更</small></a>
						</span>
					</p>
					<p class="navbar-text navbar-right">
						<a href="cart_list.html" class="navbar-link" th:href="@{/cart}">ショッピングカート</a>&nbsp;&nbsp;
						<span sec:authorize="isAuthenticated()">
							<a href="order_history.html" class="navbar-link" th:href="@{/history/showHistoryList}">注文履歴</a>&nbsp;&nbsp;
						</span>
						<span sec:authorize="isAnonymous()">
							<a href="login.html" class="navbar-link btn" th:href="@{/toLogin}">ログイン</a>&nbsp;&nbsp;
						</span>
						<span sec:authorize="isAuthenticated()">
							<a href="item_list.html" class="navbar-link btn" th:href="@{/logout}">ログアウト</a>
						</span>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- table -->
		
		<div class="row">
			<div
				class="table-responsive col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12 "style="background-color : white">
				<h3 class="text-center">ショッピングカート</h3>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>
								<div class="text-center">
									商品名
								</div>
							</th>
							<th>
								<div class="text-center">
									サイズ
								</div>
							</th>
							<th>
								<div class="text-center">
									価格(税抜)
								</div>
							</th>
							<th>
								<div class="text-center">
									数量
								</div>
							</th>
							<th>
								<div class="text-center">
									トッピング、価格(税抜・1枚あたり)
								</div>
							</th>
							<th>
								<div class="text-center">
									小計
								</div>
							</th>
							<th>
							</th>
						</tr>
						<tr th:each="orderItem:${session.order.orderItemList}">
							<td>
								<div class="text-center">
									<img src="img/1.jpg"
										class="img-responsive img-rounded" width="100" height="300" th:src="@{'/img/'+${orderItem.item.imagePath}}"
										style="display:inline-block"><br>
									    <span th:text="${orderItem.item.name}">じゃがバターベーコン</span>
								</div>
								
							</td>
							<td>
								<div class="text-center">
									<span class="price" th:text="${orderItem.size}">&nbsp;Ｌ</span>
								</div>
							</td>
							<td>
								<div class="text-center">
									<span th:if="${orderItem.size}=='M'" th:text="${#numbers.formatInteger(orderItem.item.priceM ,1,'COMMA')+'円'}">&nbsp;&nbsp;2,380円</span>
									<span th:if="${orderItem.size}=='L'" th:text="${#numbers.formatInteger(orderItem.item.priceL ,1,'COMMA')+'円'}">&nbsp;&nbsp;2,380円</span>
								</div>
							</td>
							<td>
								<div class="text-center">
									<span th:text="${orderItem.quantity}">&nbsp;&nbsp;1個</span>
								</div>
							</td>
							<td>
								<div th:if="${orderItem.size}=='M'">
								<ul th:each="orderTopping:${orderItem.orderToppingList}">
									<li th:text="${orderTopping.topping.name}+'&nbsp;&nbsp;200円'">ピーマン300円</li>
								</ul>
								</div>
								<div th:if="${orderItem.size}=='L'">
								<ul th:each="orderTopping:${orderItem.orderToppingList}">
									<li th:text="${orderTopping.topping.name}+'&nbsp;&nbsp;300円'">ピーマン300円</li>
								</ul>
								</div>
							</td>
							<td>
								<div class="text-center">
								<span th:text="${#numbers.formatInteger(orderItem.subTotal,1,'COMMA')}">
									3,280円
								</span>円
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<div class="form-group text-center">
						<span id="total-price">消費税：<th:block th:text="${#numbers.formatInteger(order.tax, 1, 'COMMA')}">8,000</th:block>円</span><br>
						<span id="total-price">ご注文金額：<th:block th:text="${#numbers.formatInteger(order.calcTotalPrice, 1, 'COMMA')}">38,000</th:block>円 (税込)</span><br>
						<span id="total-price">送料：<span id="cost"></span>円</span><br>
						<span id="total-price">ご注文金額合計：<span id="taxInTotalPrice">38,000</span>円 (税込)</span><br>
					</div>
				</div>
					<div  class="col-xs-offset-3 col-xs-6">
						<form th:unless="${useCoupon}" th:action="@{/confirm_order/useCoupon}" method="post" action="order_confirm.html">
						  <br><h4 class="text-center">クーポンはお持ちですか？</h4>
						  <table class="table table-striped table-borderd">
							<tbody>
					          <tr>
								<td>
								  <div class="text-center">
								  	<div th:if="${notToUse}" th:text="${couponName}"></div>
								  	<div th:if="${useless}" th:text="エラー：無効なクーポンです" style=color:red></div>
									  <label for="couponCode">クーポンコード：</label>
									<input type="text"name="couponCode" id="couponCode" class="form-control">
									<input type="submit" value="適用する" class="btn btn-success">
								  </div>
								</td>
							  </tr>
							</tbody>
						  </table>					
						</form>
						<div th:if="${useCoupon}">
						<h4 class="text-center">適用中のクーポン</h4>
						<table  class="table table-striped">
							<tbody class="text-center">
					          <tr>
								<td>
								  	<span>クーポン名：</span>
								  	<span th:text="${couponName}"></span>
								</td>
							 </tr>
							 <tr>
								<td >
								      　        <span>説明：</span>
								  	    <span th:text="${coupon.coupon.description}"></span><br>
								  	    <span>有効期限:</span>
								  	    <span th:text="${coupon.coupon.deadline}"></span>
								</td>
							  </tr>
							</tbody>
						  </table>		
					  </div>
					  <br>
					 </div>
			</div>
		</div><br>
		
		<!-- table -->
		<form th:object="${orderConfirmationForm}" method="post" action="order_finished.html" th:action="@{/confirm_order/orderComplete}">
			<div class="row" >
				<div class="table-responsive col-lg-offset-3 col-lg-6 col-md-offset-1 col-md-10 col-sm-10 col-xs-12 "style="background-color : white">
					<h3 class="text-center">お届け先情報</h3>
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputDestinationFirstName">お名前</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										※各50文字以内
										<label th:if="${#fields.hasErrors('destinationFirstName')}" th:errors="*{destinationFirstName}" class="control-label" style="color: red" for="inputError">名前を入力してください</label>
										<label th:if="${NOT #fields.hasErrors('destinationFirstName') AND #fields.hasErrors('destinationLastName')}" th:errors="*{destinationLastName}" class="control-label" style="color: red" for="inputError">名前を入力してください</label>
											<div class="form-inline">
											姓：<input type="text" name="destinationFirstName" placeholder="First Name" th:field="*{destinationFirstName}" id="inputDestinationFirstName" class="form-control" style="width:145px;">
											名：<input type="text" name="destinationLastName" placeholder="Last Name" th:field="*{destinationLastName}" id="inputDestinationLastName" class="form-control" style="width:145px;">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputEmail" style="width:110px;">メールアドレス</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										※100文字以内
										<label th:if="${#fields.hasErrors('destinationEmail')}" th:errors="*{destinationEmail}" class="control-label" style="color: red" for="inputError">メールアドレスを入力してください</label>
										<input type="text" name="destinationEmail" placeholder="Email" th:field="*{destinationEmail}" id="inputEmail" class="form-control" style="width:350px;">
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputZipcode">郵便番号</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										※ハイフンを抜いた7文字で入力してください
										<div class="form-inline">
											<label th:if="${#fields.hasErrors('destinationZipcode')}" th:errors="*{destinationZipcode}" class="control-label" style="color: red" for="inputError">郵便番号を入力してください</label>
											<input type="text" name="destinationZipcode" placeholder="Zipcode" th:field="*{destinationZipcode}" id="inputZipcode" class="form-control" style="width:100px;" maxlength="7" onKeyUp="AjaxZip3.zip2addr(this,'','destinationAddress','destinationAddress');" >&nbsp;&nbsp;
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputAddress">住所</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										※200文字以内
										<label th:if="${#fields.hasErrors('destinationAddress')}" th:errors="*{destinationAddress}" class="control-label" style="color: red" for="inputError">住所を入力してください</label>
										<textarea rows="3" cols="45" name="destinationAddress" placeholder="Address" th:field="*{destinationAddress}" id="inputAddress" class="form-control"></textarea>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputFirstTel">電話番号</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										<label th:if="${#fields.hasErrors('destinationFirstTel')}" th:errors="*{destinationFirstTel}" class="control-label" style="color: red" for="inputError">電話番号を入力してください</label>
										<label th:if="${NOT #fields.hasErrors('destinationFirstTel') AND #fields.hasErrors('destinationMiddleFirstTel')}" th:errors="*{destinationMiddleFirstTel}" class="control-label" style="color: red" for="inputError">電話番号を入力してください</label>
										<label th:if="${NOT #fields.hasErrors('destinationFirstTel') AND NOT #fields.hasErrors('destinationMiddleFirstTel') AND #fields.hasErrors('destinationLastFirstTel')}" th:errors="*{destinationLastFirstTel}" class="control-label" style="color: red" for="inputError">電話番号を入力してください</label>
										<div class="form-inline">
											<input type="text" name="destinationFirstTel" placeholder="First" th:field="*{destinationFirstTel}" id="inputFirstTel" class="form-control" maxlength="4" style="width:60px;"> - 
											<input type="text" name="destinationMiddleFirstTel" placeholder="Middle" th:field="*{destinationMiddleFirstTel}" id="inputMiddleTel" class="form-control" maxlength="4" style="width:60px;"> - 
											<input type="text" name="destinationLastFirstTel" placeholder="Last" th:field="*{destinationLastFirstTel}" id="inputLastTel" class="form-control" maxlength="4" style="width:60px;">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputDate">配達日時</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<div class="col-sm-5">
													<nobr>
														<label th:if="${#fields.hasErrors('deliveryDate')}" th:errors="*{deliveryDate}" class="control-label" style="color: red;" for="inputError">配達日時を入力してください</label>
													</nobr>
													<input type="date" name="deliveryDate" th:min="${min}" th:max="${max}" th:field="*{deliveryDate}" id="inputDate"  class="form-control input-sm" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<label th:if="${NOT #fields.hasErrors('deliveryDate')}" id="time-message1" style="color: red;" for="inputDate">先に配達日時を選択してください。</label>
												<label id="time-message2" style="color: red;">2時間後から選択できます。</label><br>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="10" class="deliveryTime">
													10時
												</label>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="11" class="deliveryTime">
													11時
												</label>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="12" class="deliveryTime">
													12時
												</label><br>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="13" class="deliveryTime">
													13時
												</label>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="14" class="deliveryTime">
													14時
												</label>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="15" class="deliveryTime">
													15時
												</label><br>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="16" class="deliveryTime">
													16時
												</label>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="17" class="deliveryTime">
													17時
												</label>
												<label class="radio-inline">
													<input type="radio" name="deliveryTime" value="18" class="deliveryTime">
													18時
												</label><br>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="inputDate">お支払い方法</label>
									</div>
								</td>
								<td>
									<div class="row">
										<div class="col-sm-12">
											<label class="radio-inline">
												<input type="radio" name="paymentMethod" value="2" th:field="*{paymentMethod}">
												クレジットカード決済
											</label>
											<label class="radio-inline">
												<input type="radio" name="paymentMethod" value="1" th:field="*{paymentMethod}">
												代金引換
											</label>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#fields.hasErrors('creditCardForm')}" th:errors="*{creditCardForm}" class="text-center" style="color: red">カード番号を入力してください</div>
					<table class="table" id="creditCardForm" th:object="${orderConfirmationForm.creditCardForm}">
						<tbody>
							<tr>
								<td>
									<div class="text-center">
										<label for="creditCardForm.cardNumber">カード番号</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										※ハイフン抜きの数字14～16桁
										<div th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" style="color: red">カード番号を入力してください</div>
										<input type="text" class="form-control" pattern="\d{14,16}" th:field="*{cardNumber}" maxlength="16">
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="creditCardForm.cardExpYear">有効期限</label>
									</div>
								</td>
								<td th:with="currentYear=${#dates.year(#dates.createNow())}">
									<div class="form-inline">
										<div th:if="${#fields.hasErrors('cardExpYear')}" th:errors="*{cardExpYear}" style="color: red">カード有効期限の年を入力してください</div>
										<div th:if="${#fields.hasErrors('cardExpMonth')}" th:errors="*{cardExpMonth}" style="color: red">カード有効期限の月を入力してください</div>
										<select class="form-control" th:field="*{cardExpYear}">
											<option value="">年</option>
											<option th:each="year : ${#numbers.sequence(currentYear,currentYear+20)}" th:value="${year}" th:text="${year}">2019</option>
										</select>
										/
										<select class="form-control" th:field="*{cardExpMonth}">
											<option value="">月</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
										</select>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="cardName">カード名義人</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										<div th:if="${#fields.hasErrors('cardName')}" th:errors="*{cardName}" style="color: red">カード名義人を入力してください</div>
										<input type="text" class="form-control" th:field="*{cardName}">
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">
										<label for="cardCvv">セキュリティコード</label>
									</div>
								</td>
								<td>
									<div class="form-group">
										<div th:if="${#fields.hasErrors('cardCvv')}" th:errors="*{cardCvv}" style="color: red">セキュリティコードを入力してください</div>
										<input type="text" class="form-control" pattern="\d{3,4}" th:field="*{cardCvv}">
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- 送信 -->
					<div class="col-xs-offset-2 col-xs-8">
						<div class="form-group"><br>
							<input class="form-control btn btn-danger btn-block" type="submit" value="この内容で注文する">
							<input type="hidden" id="totalPrice" name="totalPrice">
							<input type="hidden" id="shippingCost" name="cost"><br>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div>&nbsp;</div>
	<!-- end container -->
</body>
</html>
